# Template pour vos secrets ESPHome
# Renommez ce fichier en secrets.yaml et remplissez vos informations

wifi_ssid: "Votre_SSID_WiFi"
wifi_password: "Votre_Mot_De_Passe_WiFi"

api_encryption_key: "Générez_une_clé_avec_esphome_ou_gardez_la_vôtre"
ota_password: "Mot_de_passe_pour_mises_à_jour_OTA"
fallback_ap_password: "Mot_de_passe_hotspot_secours"
